.core
  display: block
  position: relative
  >div
    &:first-of-type,
    &:nth-of-type(2)
      display: inline-block
      width: calc(50% - 10px)
      margin-top: 5px
    &:first-of-type
      margin-right: 20px

  label,
  input,
  textarea
    font-size: 1.8rem
    font-family: 'Nunito Sans'
    font-weight: 600
    letter-spacing:  0.00875em

  label
    display: block
    font-weight: 700
    margin-bottom 5px
  
  input,
  textarea
    border: 2px solid #000000;
    box-shadow: inset 6px 6px 0px #EEFBFB;
    padding 10px 12px 7px
    transition box-shadow .15s ease-in
    line-height: 1.43em
    width 100%
    margin-bottom 24px
    &:focus
      box-shadow: inset 6px 6px 0px #816eff;
      outline: none

  textarea
    resize: none
    min-height: 200px
    display: block
  button
    &:global(.btn)
      width 100%
  

proportional(max-width 1699px, .9)

@media only screen and (max-width: 1279px)
  .core
    label,
    input,
    textarea
      font-size: 1.4rem
    
    >div
      &:first-of-type,
      &:nth-of-type(2)
        display: block
        width: 100%
      &:first-of-type
        margin-right: 0
