@import './fonts'

*, *:before
  box-sizing border-box

body, html
  overflow-x hidden

button
  background none
  border none
  cursor pointer
  padding 0

a 
  display: inline-block
  text-decoration: none
  white-space: nowrap
  cursor pointer
  color currentColor

input,
select
	border: none;
	appearance: none
	&:focus
		background inherit
		outline: 0;

select
  cursor pointer

img
  display: block
  margin 0 auto
  max-width: 100%
  width 100%

strong
  font-weight: 700
  font-size: 1em

/* Font-sizes */  

body
  background #fff
  color #212429
  font-family 'Nunito Sans'
  font-size: 10px